body {
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4em;
	font-size: 1em;
}

#wrapper {
	width: 100%;
	padding-top: 1em;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
a{
  text-decoration: none;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
font-weight: 500;
	color: #bdc3c7;
	line-height: 1.2em;

}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
font-weight: 300;
	color: #bdc3c7;
	line-height: 1.2em;
	margin-bottom: 1.5em;

}

a {
	color: #e74c3c;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: none;
}

#buttons {
	width: 100%;
  	margin: 0 auto;
  	text-align: center;
}

.button {
  	display: block;
  	margin: 0 auto;
  	color: #FFF;
  	text-decoration: none;
 	line-height: 2em;
 	font-size: 1.2em;
  	font-family: 'Open Sans', sans-serif;
  	width: 12em;
  	height: 2em;
  	border: 1px solid #ce3a2b;
  	border-radius: 4px;
  	background-clip: padding-box;
  	box-shadow: 0 1px 0px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,0.2), inset 0 0 5px rgba(255,255,255,.38);
  	background-image: linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.26) 100%);
  	background-color: #e74c3c;
}

.button:hover {
  	;
}
