
h1{
text-align: center;

}
.wordarea
{
border: 2px;
align-items: center;

}

.textarea{
  font-family:
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 2px;
  font-size: 25px;
}
.resultarea
{margin-left:15px;
  border-radius: 10px;
background-color:  #0275d8;

}

.properties
{margin-left: 15px;
  border-radius: 10px;
  background-color:  #0275d8;

}

.foot
{
  background-color: black;
   color:White;
   margin-top: 10px;
   padding: 20px;
   text-align: center;
   font-family: 'Fanwood Text', serif;

}
